<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    
    <img src="<%= image %>" width="500"><br>
    <%= date %>
    <br>
    <span><%= explanation %></span>

    <%- include('partials/footer.ejs') %>
</body>
</html>
